:root {
    --form-control-color: rgb(18, 183, 0);
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --gris: #c4c4c4;
    --grisoscuro: #5a5a5a;
  }

.Titulo{
   
    font-weight: bold;
    font-size: 50px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgb(0, 0, 0);
}

.Precio{
    color: rgb(18, 183, 0);
    font-weight: bold;
    font-size: 30px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Descripcion{
    
    font-weight: bold;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Estado{
    color: #cf0606;
    font-weight: bold;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.NombreUsuario{
    
    font-weight: bold;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Categorias{
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    position: initial;
}

.Categorias2{
    line-height: 1.5;
    padding-left: 0.4rem;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: inline-table;
    list-style-type: square;
    
  
}
.ul{
    
    list-style-type: lower-alpha;
  
}
.Score{
    
    font-weight: bold;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.imageproductform {
    height: 570px;
    width: 800px;
    margin-top: 50px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    outline: solid #c4c4c4;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image {
    
    height: 100%;
    width: auto;
    max-width: 730px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
   
}


.basecontainer1{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
 
}

.basecontainer2{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
}

.basecontainer3{
    
    width: 100%;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
   
}

.detallevendedorform {
    margin-bottom: 1px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    outline: solid #d9d9d9;
  }

.detalleproductoform {
    
    margin-bottom: 1px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    outline: solid #12b700;
  }


  
  .cajaimagen01 {
    margin-top: 20px;
    height: 300px;
    width: 100;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    display: flex   
  }
 
   
  .caja0 {
    
    margin-top: 1px;
    height: 0px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center; 
  }

  .caja1 {
    margin-top: 1px;
    height: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #dfffdf;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    display: flex   
  }
 
  .caja2 {
    margin-top: 1px;
    height: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    display: flex   
  }
  
  .caja3 {
    margin-top: 1px;
    height: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    display: flex   
  }
  .caja4 {
    margin-top: 1px;
    height: auto;
    width: 100%;
    max-height: 20px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    position: center;
    display: flex;
  }