
.imageproductform {
    height: 388px;
    width: 700px;
    margin-top: 50px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    outline: solid #c4c4c4;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.col{
<<<<<<< Updated upstream
    display: flex;
    flex-direction: column;
    text-align: left;
    position: center;
    width: 100%;
=======
  display: flex;
  flex-direction: column;
  text-align: left;
  position: center;
  width: 100%;
  background-color: #ffffff;
>>>>>>> Stashed changes
}

.ro{
    display: flex;
    grid-template-columns: auto-fill;
    grid-gap: 0px;
    background-color: #ffffff; 
    position: center;
    bottom: 0;
    width: 100%;
}

.image {
    
    height: 100%;
    width: auto;
    max-width: 730px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
   
}

.basecontainer1{
  
    width: 100%;
    height: 388px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.basecontainer4{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
}  

.info{
   
    font-weight: bold;
    font-size: 16px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    label {
      font-size: 20px;
    }
    input {
      margin-top: 6px;
      min-width: 25em;
      height: 37px;
      font-size: 16px;
      text-align: center;
      font-family: "Arsenal", sans-serif;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 5px;
      margin-bottom: 5px;

      &:hover {
        background-color: #ffffff;
        outline: solid #12b700;
      }

      &:focus {
        outline: none;
        outline: solid rgb(18, 183, 0);
      }
    }
  }

  .footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detallevendedorform {
    margin-bottom: 1px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    outline: solid #c4c4c4;
  }

  .detallevendedorform2{
    margin-bottom: 1px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    outline: solid rgb(18, 183, 0);
  }

  .caja {
    margin-top: 6px;
    min-width: 25em;
    border: 0px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 0px 10px;
    height: 37px;
    overflow: hidden;
    width: 230px;
    position: relative;
    &:hover {
      background-color: #ffffff;
      outline: solid rgb(18, 183, 0);
    }

    &:focus {
      background-color: #f3f3f3;
      outline: none;
      outline: solid rgb(18, 183, 0);
    }
  }
  select {
    margin-top: 3px;
    background: transparent;
    border: none;
    font-family: "Arsenal", sans-serif;
    text-align: center;
    text-indent: 20px;
    min-width: 23.5em;
    font-size: 16px;
    height: 30px;
    width: 250px;
  }
  select:focus {
    outline: none;
  }

  .Titulo{
   
    font-weight: bold;
    font-size: 30px;
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #12b700;
}

.Datos{
  font-size: 20px;
  font-family: "Arsenal", sans-serif;
  display: flex;
  position: initial;
  display: inline-table;
}